<div
class="modal fade fixed top-0 left-0 hidden h-full w-full overflow-y-auto overflow-x-hidden outline-none"
id="socialModal"
tabindex="-1"
aria-labelledby="exampleModalXlLabel"
aria-modal="true"
role="dialog"
data-bs-backdrop="static"
data-bs-keyboard="false"
>
<div
  class="modal-dialog modal-xl pointer-events-none relative w-auto"
>
  <div
    class="modal-content pointer-events-auto relative flex w-full flex-col rounded-md border-none bg-white bg-clip-padding text-current shadow-lg outline-none"
  >
    <div
      class="modal-header flex flex-shrink-0 items-center justify-between rounded-t-md border-b border-gray-200 p-4"
    >
      <h5
        class="text-primary-red text-xl font-bold leading-normal"
        id="exampleModalXlLabel"
      >
        Edit Social Media Details
      </h5>
      <!-- close btn -->
      <button
        type="button"
        class="btn-close box-content h-4 w-4 rounded-none border-none p-1 text-black opacity-50 hover:text-black hover:no-underline hover:opacity-75 focus:opacity-100 focus:shadow-none focus:outline-none"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <!-- modal body -->
    <div class="p-10">
      <div class="modal-body relative">
        <div
          class="w-ful grid grid-cols-1 text-lg sm:text-sm md:grid-cols-3 md:text-lg xl:grid-cols-4"
        >
          <div
            class="text-primary-red border-primary-blue flex w-full items-center border-x-2 border-t-2 p-2 font-medium md:border-y-2 md:border-l-2"
          >
            <p class="flex-shrink-0">Email :</p>

            <input
              type="text"
              name=""
              class="text-primary-blue w-full outline-none"
              placeholder="Email"
            />
          </div>
          <div
            class="text-primary-red border-primary-blue flex w-full items-center border-x-2 border-y-2 p-2 font-medium md:border-l-0"
          >
            <p class="flex-shrink-0">Facebook :</p>
            <input
              type="text"
              name=""
              class="text-primary-blue w-full outline-none"
              placeholder="Facebook"
            />
          </div>
          <div
            class="text-primary-red border-primary-blue flex w-full items-center border-x-2 border-b-2 p-2 font-medium md:border-y-2 md:border-l-0 md:border-r-2"
          >
            <p class="flex-shrink-0">Viber :</p>
            <input
              type="text"
              name=""
              class="text-primary-blue w-full outline-none"
              placeholder="Viber"
            />
          </div>
          <div
            class="text-primary-red border-primary-blue flex w-full items-center border-x-2 border-b-2 p-2 font-medium md:border-y-2 md:border-l-0 md:border-r-2"
          >
            <p class="flex-shrink-0">Whatsapp :</p>
            <input
              type="text"
              name=""
              class="text-primary-blue w-full outline-none"
              placeholder="Whatsapp"
            />
          </div>
        </div>
      </div>
      <!-- btns -->
      <div class="flex justify-end">
        <button
          data-bs-dismiss="modal"
          class="bg-primary-red ml-10 mt-3 inline-flex gap-2 rounded-md px-5 py-3 font-bold text-white"
        >
          Close
        </button>

        <a
          href=""
          class="bg-primary-green ml-10 mt-3 inline-flex gap-2 rounded-md px-5 py-3 font-bold text-white"
          >Save</a
        >
      </div>
    </div>
  </div>
</div>
</div>